html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('https://speedcubeclub.github.io/cube/assets/img/back.jpg');
    background-attachment: fixed;
    background-size: 100%;
}

#Title {
    color: rgb(255, 255, 255);
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 200%;
    width: 100%;
    text-align: center;
}

.User_Name {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.694);
    font-size: x-large;
    position: fixed;
    top: 3%;
    left: 3%;
    border-radius: 5px;
}

.Go_Back {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.694);
    font-size: x-large;
    position: fixed;
    top: 9%;
    left: 3%;
    border-radius: 5px;
}