html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(229, 229, 229);
}

#Title {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 200%;
    width: 100%;
    text-align: center;
}

.User_Name{
    border-radius: 5px;
    background-color: rgb(199, 199, 255);
    font-size: x-large;
    position: fixed;
    height: 10%;
    line-height: 10%;
    width: auto;
    top: 3%;
    left: 3%;
}