*,
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#Title {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: xx-large;
    width: 100%;
    text-align: center;
}