.Table {
    width: 100%;
}

.New_Person {
    border: 1px black;
    width: 100%;
}

.New_Person_Time {
    font-size: large;
    width: 25%;
    text-align: center;
    font-weight: bold;
}

.New_Person_Name {
    font-size: large;
    width: 35%;
    text-align: center;
}

.New_Person_Day {
    font-size: large;
    width: 30%;
    text-align: center;
}

.New_Person_N{
    font-size: large;
    width: 10%;
    text-align: center;
    font-weight: 900;
}